$lightest-base-color: #F75F71;
$lighter-base-color: #F5364C;
$base-color: #EA031E;
$darker-base-color: #B80016;
$darkest-base-color: #900011;
$landing: #FF8C5F;

.errors{
  color: $base-color;
}

#root{
  background-color: #F3F5F9;
}
