@import "defaults";

#footer {
   position:absolute;
   justify-content: center;
   display: flex;
   align-items: center;
   background: $base-color;
   bottom:0;
   width:100%;
   height:60px;
   color: white;
}
