@import "defaults";

#prof-header {
  background-color: $base-color;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 80px;

  #prof-img{
    border-radius: 50%;
    background-color: $base-color;
    height: 180px;
    width: 180px;
  }

}

.fa-pencil{
  margin-left: 5px;
  color: #7C0ED1;

}

#details{
  align-self: flex-start;
  display: flex;
  margin-top: 40px;
  width: 320px;
  .fa-newspaper-o{
    margin-right: 10px;
  }

  &:hover{
    color: $lighter-base-color;
    cursor: pointer;
  }
}

.inner {
  width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  position: relative;
  bottom: -30px;
  align-items: center;
}

#deets{
  margin-left: 15px;
  h2{
    font-size: 35px;
    margin-bottom: 7px;
  }

  &:hover{
    background-color: $lighter-base-color;
    cursor: pointer;
  }

  span{
    padding: 5px;
  }
}

.main{
  display: flex;
  justify-content: center;
}

#about{
  width: 560px;
  margin-top: 40px;

  textarea{
    background-color: white;
    width: 100%;
    height: 138px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .about-div{
    margin-bottom: 60px;
    button{
      margin-bottom: 10px;
      &:hover{
        color: $base-color;
        .fa-pencil{
          color: $base-color;
        }
      }
    }
  }
  h3{
    padding-right: 5px;
    display: inline;
  }

  .edit-div{
    button{
      margin-right: 5px;
      border: 1px solid gray;
      padding: 10px 25px;
      border-radius: 3px;
    }

  }

}
