@import "defaults";

.profile-form-content{
  h5{
    font-size: 15px;
    margin: 5px;
  }
  form{
    display: flex;
    flex-direction: column;

    #iama{
      display: flex;
      flex-direction: column;
      div{
        display: flex;
      }
    }

    #height-body{
      display: flex;

      #height{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

      
      }

      div{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
